ErrorDocument 404 /domos/erreur404.html
RewriteEngine on

RewriteRule ^$ /domos/index.php  [L]

RewriteRule ^index.html$ /domos/index.php	[L]
RewriteRule ^connexion.html$ /domos/connexion.php	[L]
RewriteRule ^domos.html$ /domos/domos.php	[L]
RewriteRule ^erreur404.html$ /domos/domos.php?page=erreur&msg=erreur404	[L]
RewriteRule ^meteo.html$ /domos/domos.php?page=meteo	[L]
RewriteRule ^calendrier.html$ /domos/domos.php?page=calendrier	[L]
RewriteRule ^plan.html$ /domos/domos.php?page=plan	[L]
RewriteRule ^plan-([a-zA-Z0-9]*).html$ /domos/domos.php?page=plan&action=$1	[L]

RewriteRule ^admin.html$ /domos/admin.php	[L]
RewriteRule ^composants.html$ /domos/domos.php?page=composants	[L]
RewriteRule ^composants_bannis.html$ /domos/domos.php?page=composants_bannis	[L]
RewriteRule ^composants-([a-zA-Z]*).html$ /domos/domos.php?page=composants&action=$1	[L]
RewriteRule ^composants-([a-zA-Z]*)-([0-9]*).html$ /domos/domos.php?page=composants&action=$1&composants_id=$2	[L]
RewriteRule ^modeles.html$ /domos/domos.php?page=modeles	[L]
RewriteRule ^plans.html$ /domos/domos.php?page=plans	[L]
RewriteRule ^macros.html$ /domos/domos.php?page=macros	[L]
RewriteRule ^macros-([a-zA-Z]*).html$ /domos/domos.php?page=macros&action=$1	[L]
RewriteRule ^macros-([a-zA-Z]*)-([0-9]*).html$ /domos/domos.php?page=macros&action=$1&macro_id=$2	[L]
RewriteRule ^users.html$ /domos/domos.php?page=users	[L]
RewriteRule ^menu.html$ /domos/domos.php?page=menu	[L]
RewriteRule ^menu-ordre.html$ /domos/domos.php?page=menu&action=ordre	[L]
RewriteRule ^config.html$ /domos/domos.php?page=config	[L]
RewriteRule ^logs.html$ /domos/domos.php?page=logs	[L]
RewriteRule ^logs-purger.html$ /domos/domos.php?page=logs&action=purger	[L]
RewriteRule ^logs-purgerlogs.html$ /domos/domos.php?page=logs&action=purgerlogs	[L]
RewriteRule ^webcams.html$ /domos/domos.php?page=webcams	[L]
RewriteRule ^webcamsadmin.html$ /domos/domos.php?page=webcamsadmin	[L]
RewriteRule ^divers.html$ /domos/domos.php?page=divers	[L]
RewriteRule ^phpinfo.html$ /domos/domos.php?page=phpinfo	[L]
